@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.padding {
  @apply sm:px-38 px-14 sm:py-24 py-12;
}

.padding-x {
  @apply sm:px-33 px-8;
}

.padding-y {
  @apply sm:py-24 py-12;
}

.padding-l {
  @apply sm:pl-16 pl-8;
}

.padding-r {
  @apply sm:pr-16 pr-8;
}

.padding-t {
  @apply sm:pt-24 pt-12;
}

.padding-b {
  @apply sm:pb-24 pb-12;
}

.info-text {
  @apply text-slate-500 text-lg leading-7;
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight:400; */
  font-style: normal;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto; */
  /* font-weight: 1000; */
  /* font-style: italic; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.dm-sans-ver2{
  font-family: "DM Sans", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
}
@theme {
  --color-rouge-brick: #AD343E; 
  --color-oliv-07: #2C2F24;
  --color-oliv-06: #414536;
  --color-bg-gray: #F9F9F7;
}

/* From Uiverse.io by alexruix */ 
.form-box {
  max-width: 300px;
  background: #F9F9F7;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #eceaead1;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section span {
  font-weight: bold;
  color: #AD343E;
  transition: color .3s ease;
}

.form-section span:hover {
  color: #ad343ec2;
  text-decoration: underline;
}

.form-section span:focus {
  color: #AD343E;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #AD343E;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #ad343ec2;
}

.form button:focus{
  background-color: #ad343e;
}
