@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.padding {
  @apply sm:px-38 px-14 sm:py-24 py-12;
}

.padding-x {
  @apply sm:px-33 px-8;
}

.padding-y {
  @apply sm:py-24 py-12;
}

.padding-l {
  @apply sm:pl-16 pl-8;
}

.padding-r {
  @apply sm:pr-16 pr-8;
}

.padding-t {
  @apply sm:pt-24 pt-12;
}

.padding-b {
  @apply sm:pb-24 pb-12;
}

.info-text {
  @apply text-slate-500 text-lg leading-7;
}



.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto; */
  /* font-weight: 1000; */
  /* font-style: italic; */
}

@theme {
  --color-rouge-brick: #AD343E; 
  --color-oliv-07: #2C2F24;
  --color-oliv-06: #414536;
  --color-bg-gray: #F9F9F7;
}
